<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--Add test files here -->
<suite name="TOOLSQAWEBPAGES">
<suite-files>
<suite-file path="C:\Users\Srinischal.Thiparani\eclipse-workspace\travelphp\src\test\resources\suitefile\bookingspagetest.xml" />
</suite-files>
</suite>